<div id="<%= dom_id game_deck %>">
  <p>
    <strong>Game:</strong>
    <%= game_deck.game_id %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= game_deck.card_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= game_deck.order %>
  </p>

</div>
