<h1>Editing game deck</h1>

<%= render "form", game_deck: @game_deck %>

<br>

<div>
  <%= link_to "Show this game deck", @game_deck %> |
  <%= link_to "Back to game decks", game_decks_path %>
</div>
