<p style="color: green"><%= notice %></p>

<h1>Game decks</h1>

<div id="game_decks">
  <% @game_decks.each do |game_deck| %>
    <%= render game_deck %>
    <p>
      <%= link_to "Show this game deck", game_deck %>
    </p>
  <% end %>
</div>

<%= link_to "New game deck", new_game_deck_path %>
