<div id="<%= dom_id phase_order %>">
  <p>
    <strong>Game:</strong>
    <%= phase_order.game_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= phase_order.player_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= phase_order.order %>
  </p>

</div>
