<h1>Editing phase order</h1>

<%= render "form", phase_order: @phase_order %>

<br>

<div>
  <%= link_to "Show this phase order", @phase_order %> |
  <%= link_to "Back to phase orders", phase_orders_path %>
</div>
