<p style="color: green"><%= notice %></p>

<h1>Phase orders</h1>

<div id="phase_orders">
  <% @phase_orders.each do |phase_order| %>
    <%= render phase_order %>
    <p>
      <%= link_to "Show this phase order", phase_order %>
    </p>
  <% end %>
</div>

<%= link_to "New phase order", new_phase_order_path %>
