<h1>Editing player hand</h1>

<%= render "form", player_hand: @player_hand %>

<br>

<div>
  <%= link_to "Show this player hand", @player_hand %> |
  <%= link_to "Back to player hands", player_hands_path %>
</div>
