<h1>Editing phase deck</h1>

<%= render "form", phase_deck: @phase_deck %>

<br>

<div>
  <%= link_to "Show this phase deck", @phase_deck %> |
  <%= link_to "Back to phase decks", phase_decks_path %>
</div>
