<p style="color: green"><%= notice %></p>

<h1>Phase decks</h1>

<div id="phase_decks">
  <% @phase_decks.each do |phase_deck| %>
    <%= render phase_deck %>
    <p>
      <%= link_to "Show this phase deck", phase_deck %>
    </p>
  <% end %>
</div>

<%= link_to "New phase deck", new_phase_deck_path %>
