<p style="color: green"><%= notice %></p>

<h1>Player orders</h1>

<div id="player_orders">
  <% @player_orders.each do |player_order| %>
    <%= render player_order %>
    <p>
      <%= link_to "Show this player order", player_order %>
    </p>
  <% end %>
</div>

<%= link_to "New player order", new_player_order_path %>
