<div id="<%= dom_id game_discard %>">
  <p>
    <strong>Game:</strong>
    <%= game_discard.game_id %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= game_discard.card_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= game_discard.order %>
  </p>

</div>
