<p style="color: green"><%= notice %></p>

<h1>Game discards</h1>

<div id="game_discards">
  <% @game_discards.each do |game_discard| %>
    <%= render game_discard %>
    <p>
      <%= link_to "Show this game discard", game_discard %>
    </p>
  <% end %>
</div>

<%= link_to "New game discard", new_game_discard_path %>
